/**************
Tag Selectors
***************/
body{
    background-color: #7895B2;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
img:hover{
    background-color: gold;
}
h1{
    color: #66BFBF;
}
h3{
    color: #66BFBF;
}
/*******
Class Selectors
*******/

.profilepic{
    background-color: green;
}

/*
ID selectors
*/
#heading{
    background-color: blue;
}